<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery Mobile Demos</title>

  <link rel="shortcut icon" href="favicon.ico">

  <!-- Core JQM JS Files -->
  <script src="assets/js/jquery-min.js"></script>
  <script src="assets/js/jquery.mobile.min.js"></script>

  <!-- Custom JS Files -->
  <script src="assets/js/app.js"></script>
  <script src="assets/js/backbone-min.js"></script>


  <!-- Core JQM CSS Files -->
  <link rel="stylesheet"  href="/assets/css/jquery.mobile.min.css">

  <!-- Custom CSS Themes -->
  <link rel="stylesheet"  href="/assets/css/jqm-custom.css">
  
</head>

    <body>
        <!--(bake /resources/custom/components/page1.html)-->
        <!--(bake /resources/custom/components/page2.html)-->
        <!--(bake /resources/custom/components/page3.html)-->
    </body>

</html>